<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.email %>
</p>

<% @characters.each do |character| %>
  <%= link_to character.name, character_path(character) %>
  <%= character.level %><br />
<% end %>

